{%extends 'dashboard.html'%}
{%block body %}
{%if messages%}
{%for message in messages%}
<div class="alert alert-success" role="alert">{{message}}</div>
{%endfor%}
{%endif%}
    <h1>Pending Land Details</h1>
    <ul>
        {% for land in land_details %}
            <li>
                {{ land.land_description }} - {{ land.location }}
                <a href="{% url 'review_property_detail' land.pk %}">Review</a>
            </li>
        {% empty %}
            <li>No pending land details.</li>
        {% endfor %}
    </ul>
{%endblock%}
